/* Extensions */

/* Notes
   #d88 <-- a nice red
 */

body {
    font-family: "Roboto Mono", serif !important;
    text-transform: uppercase;
    font-weight: 400;
    color: #222;
}

header {
    background: url("../images/michal-grosicki-235026.jpg");
    filter: drop-shadow(0 0px 15px);
}

.headerContent {
    filter: drop-shadow(0 0 1px) blur(0.3px) opacity(.95);
}

header h1 {
    font-weight: 900;
}

.logo {
    fill: currentColor;
}

a {
    color: inherit;
}




