@import "base.css";
@import "fontello.css";

/* Extensions */

body {
    font-family: 'Inconsolata', monospace;
}

header {
    background-image: url("../img/min/bg-1024.jpg");
    filter: drop-shadow(0 2px 4px);
}

header a:hover {
    color: whitesmoke;
}

.header-content * {
    font-family: "Roboto Mono", sans-serif;
    line-height: 0.9;
}

svg {
    fill: currentColor;
    height: 3em;
}

a {
    transition: 0.5s ease;
}

a:hover {
    color: grey;
}

#images a,
h1,
h2,
h3 {
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

ul.tag li {
    transition: 0.5s;
    cursor: default;
    background-color: white;
}

ul.tag li:hover {
    transform: scale(1.25);
}

.caps-r {
    text-transform: uppercase;
}

/* Nav link hover text */

.gh:hover:after {
    content: " GitHub ";
    font-weight: bolder;
    font-size: smaller;
}

.gh:hover:before {
    content: none;
}

.tw:hover:after {
    content: " Twitter ";
    font-weight: bolder;
    font-size: smaller;
}

.tw:hover:before {
    content: none;
}

.fb:hover:after {
    content: " Facebook ";
    font-weight: bolder;
    font-size: smaller;
}

.fb:hover:before {
    content: none;
}

/* Image overlay code */

.fade-box {
    position: relative;
}

.overlay {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur-up {
    filter: blur(5px);
    transition: all 0.5s ease;
}

.blur-up.lazyloaded {
    filter: blur(0);
    transition: 0.5s ease;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.fade-box .lazyload,
.fade-box .lazyloading {
    opacity: 0;
    transition: opacity 400ms;
}

.fade-box img.lazyloaded {
    opacity: 1;
}

.fade-box:hover img.lazyloaded {
    opacity: 0.3;
}

.fade-box:hover figcaption.overlay {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* media queries */

@media (max-width: 40em) {

    .xs-logo {
        height: 2em;
    }

    .xs-header {
        text-align: left;
        margin-left: 0;
    }
}

@media (--breakpoint-sm) {

    .sm-header-content {
        margin-top: 1em;
    }

    .sm-subhead {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

@media (--breakpoint-lg) {

    header {
        background: url("../img/min/bg-1900.jpg");
    }

}



