@import "base.css";

/* Extensions */

body {
    font-family: 'Inconsolata', monospace;
}

header {
    background: url("img/bg-1024.jpg");
    filter: drop-shadow(0 0 5px);
}

header section {
    filter: drop-shadow(-1px 1px 0.6px slategrey) blur(0px) opacity(100%);
}

header h1 {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
}

article p {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.bg-1 {
    background: url("img/webp/bg-movie-shot-crop.webp");
    background-position: 50%;
    background-size: cover;
}

.bg-2 {
    background: url("img/webp/bg-portfolio-shot-crop.webp");
    background-position: 50%;
    background-size: cover;
}

.bg-3 {
    background: url("img/webp/bg-future.webp");
    background-position: 50%;
    background-size: cover;
}

.caps-r {
    /* like BassCSS 'caps' but regular letter spacing*/
    text-transform: uppercase;
}

.logo {
    fill: currentColor;
}

