@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local(OpenSansLight-Italic), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local(OpenSans-Italic), url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local(OpenSans-SemiboldItalic), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local(OpenSans-BoldItalic), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"), local(OpenSans-ExtraboldItalic), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxphT2rkLFFMVLymfgfmWVtI.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local(OpenSans-Light), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local(OpenSans), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local(OpenSans-Semibold), url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local(OpenSans-Bold), url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local(OpenSans-Extrabold), url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Mono Thin Italic"), local(RobotoMono-ThinItalic), url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dm6KUNDZn-maNE0jF5VeMII.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dgCt6Xj8PpQTiblvscQDJGE.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dghtpAimBp4V9tWdvRZqSBY.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Mono Light Italic"), local(RobotoMono-LightItalic), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA1NjWrQGkHHRlfZ8BWrO3Hg.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA2JNL1kWLlAYCVnltOJOPdY.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAzri8ykLuesnP4qBvpSenQU.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Mono Italic"), local(RobotoMono-Italic), url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3KSxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3Mu2Q0OS-KeTAWjgkS85mDg.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3NkZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Mono Medium Italic"), local(RobotoMono-MediumItalic), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA_KmQu4cG5QnmuCFCsciK9o.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAw28na7a-F9KZNLutV0Cpw0.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA3sOjp2j4oPInuz1P52HMwA.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Mono Bold Italic"), local(RobotoMono-BoldItalic), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA9mkQI_kos-lIOeNt19QAas.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA49ObOXPY1wUIXqKtDjSdsY.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAwRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Mono Thin"), local(RobotoMono-Thin), url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-beskzFlZTkzN_FGynPZJZk.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-dFPPhm6yPYYGACxOp9LMJ4.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-SeJLMOzE6CCkidNEpZOseY.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Mono Light"), local(RobotoMono-Light), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7XcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz0o2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzx_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local(RobotoMono-Regular), url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Mono Medium"), local(RobotoMono-Medium), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyGu2KOSTawI8d9zCvShylg.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7BojE9J5UnpMtv5N3zfxwk.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyqHEX2q--o2so14pIEl08w.woff) format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Mono Bold"), local(RobotoMono-Bold), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7Ft29aCHKT7otDW9l62Aag.eot?#) format("eot"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4lIZu-HDpmDIZMigmsroc4.woff2) format("woff2"), url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzzqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #111;
  background-color: #fff;
}

svg {
  max-height: 100%;
}

a {
  color: #07c;
}

h1,
h2,
h3,
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h6 {
  font-size: 12px;
  font-size: .75rem;
}

p,
ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

.h1 {
  font-size: 32px;
  font-size: 2rem;
}

.h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

.h4 {
  font-size: 16px;
  font-size: 1rem;
}

.h5 {
  font-size: 14px;
  font-size: .875rem;
}

.h6 {
  font-size: 12px;
  font-size: .75rem;
}

.bold {
  font-weight: bold;
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.max-width-4 {
  max-width: 1024px;
  max-width: 64rem;
}

.mb0 {
  margin-bottom: 0;
}

.ml1 {
  margin-left: 8px;
  margin-left: .5rem;
}

.mt2 {
  margin-top: 16px;
  margin-top: 1rem;
}

.mt3 {
  margin-top: 32px;
  margin-top: 2rem;
}

.mr3 {
  margin-right: 32px;
  margin-right: 2rem;
}

.my3 {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.mxn2 {
  margin-left: -16px;
  margin-left: -1rem;
  margin-right: -16px;
  margin-right: -1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  padding: 8px;
  padding: .5rem;
}

.px1 {
  padding-left: 8px;
  padding-left: .5rem;
  padding-right: 8px;
  padding-right: .5rem;
}

.p2 {
  padding: 16px;
  padding: 1rem;
}

.px2 {
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
}

.py3 {
  padding-top: 32px;
  padding-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.py4 {
  padding-top: 64px;
  padding-top: 4rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.rounded {
  border-radius: 3px;
}

.h00 {
  font-size: 64px;
  font-size: 4rem;
}

.black {
  color: #111111;
}

.white {
  color: #ffffff;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

body {
  font-family: "Roboto Mono", serif !important;
}

header {
  background: url("img/webp/bg.webp");
  filter: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0, 0, 0, 1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0 0 5px);
  filter: drop-shadow(0 0 5px);
}

header section {
  filter: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 1" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: drop-shadow(-1px 1px 0.6px slategrey) blur(0px) opacity(100%);
  filter: drop-shadow(-1px 1px 0.6px slategrey) blur(0px) opacity(100%);
}

header h1 {
  font-weight: 900;
}

article p {
  font-family: 'Open Sans', sans-serif;
}

.bg-1 {
  background: url("img/webp/bg-movie-shot-crop.webp");
  background-position: 50%;
  background-size: cover;
}

.bg-2 {
  background: url("img/webp/bg-portfolio-shot-crop.webp");
  background-position: 50%;
  background-size: cover;
}

.bg-3 {
  background: url("img/webp/bg-future.webp");
  background-position: 50%;
  background-size: cover;
}

.caps-r {
  text-transform: uppercase;
}

.logo {
  fill: currentColor;
}

@media (min-width: 40em) {
  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-left-align {
    text-align: left;
  }
}

@media (min-width: 52em) {
  .md-col-3 {
    width: 25%;
  }

  .md-col-9 {
    width: 75%;
  }

  .h00-responsive {
    font-size: 8vw;
  }

  .h1-responsive {
    font-size: 4vw;
  }
}

@media (min-width: 96em) {
  .h00-responsive {
    font-size: 7.68rem;
  }

  .h1-responsive {
    font-size: 3.84rem;
  }
}

