@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Mono Thin Italic"),local(RobotoMono-ThinItalic),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dm6KUNDZn-maNE0jF5VeMII.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dgCt6Xj8PpQTiblvscQDJGE.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/rqQ1zSE-ZGCKVZgew-A9dghtpAimBp4V9tWdvRZqSBY.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Mono Light Italic"),local(RobotoMono-LightItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA1NjWrQGkHHRlfZ8BWrO3Hg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA2JNL1kWLlAYCVnltOJOPdY.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAzri8ykLuesnP4qBvpSenQU.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Mono Italic"),local(RobotoMono-Italic),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3KSxSvC1lIsK_unZDHWqTBg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3Mu2Q0OS-KeTAWjgkS85mDg.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/mE0EPT_93c7f86_WQexR3NkZXW4sYc4BjuAIFc1SXII.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Mono Medium Italic"),local(RobotoMono-MediumItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA_KmQu4cG5QnmuCFCsciK9o.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAw28na7a-F9KZNLutV0Cpw0.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA3sOjp2j4oPInuz1P52HMwA.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Mono Bold Italic"),local(RobotoMono-BoldItalic),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA9mkQI_kos-lIOeNt19QAas.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKA49ObOXPY1wUIXqKtDjSdsY.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/1OsMuiiO6FCF2x67vzDKAwRV2F9RPTaqyJ4QibDfkzM.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Mono Thin"),local(RobotoMono-Thin),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-beskzFlZTkzN_FGynPZJZk.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-dFPPhm6yPYYGACxOp9LMJ4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/aOIeRp72J9_Hp_8KwQ9M-SeJLMOzE6CCkidNEpZOseY.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Mono Light"),local(RobotoMono-Light),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7XcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz0o2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzx_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"),local(RobotoMono-Regular),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Mono Medium"),local(RobotoMono-Medium),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyGu2KOSTawI8d9zCvShylg.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7BojE9J5UnpMtv5N3zfxwk.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzyqHEX2q--o2so14pIEl08w.woff) format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Bold"),local(RobotoMono-Bold),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz7Ft29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4lIZu-HDpmDIZMigmsroc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzzqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

/* KEVIN */

body {
    font-family: "Roboto Mono", serif !important;
    text-transform: uppercase;
    font-weight: 400;
    color: #222;
}

header {
    background: url("../images/michal-grosicki-235026.jpg");
    -webkit-filter: drop-shadow(0 0px 15px);
            filter: drop-shadow(0 0px 15px);
}

.headerContent {
    -webkit-filter: drop-shadow(0 0 1px) blur(0.3px) opacity(.95);
            filter: drop-shadow(0 0 1px) blur(0.3px) opacity(.95);
}

header h1 {
    font-weight: 900;
}

.logo {
    fill: currentColor;
}

a {
    color: inherit;
}




